.mybutton {
  width: 70%;
  background-color: #01bf71;
  border: 0;
  color: black;
}
a.btn-primary {
  background-color: #01bf71;
  border: 0;
  color: black;
}

a.btn-primary:hover {
  transition: all 0.2s ease-in-out;
  background: #ccc;
  color: blue;
}

.mybutton:hover {
  transition: all 0.2s ease-in-out;
  background: #ccc;
  color: blue;
}

.mybutton:active {
  background-color: #01bf71;
  border: 0;
  color: 'black';
}

.container {
  width: 70%;
}
